*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;

}


main{
    background-color: black;
    /* width: 100%; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.w-app{
    display: flex;
    justify-content: center;

    border: 1px solid red;
    color: wheat;
/* height: 80%; */
    width: 40%;


}
.work{
    width: 90%;
    background-color: wheat ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputAndBtn{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-block: 20px;
}
#input{

width: 100%;
max-width: 70%;
    /* padding-block: 8px; */
    background-color: none;
    border: none;
    outline: none;
border-radius: 20px;
padding: 10px 0px 10px 10px ;


}
.imgAndText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.middle-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.t-1{
    color: black;
}
.t-2{
    color: black;
}
.lastElements{
    margin-block: 20px;
    border: 1px solid red;
display: flex;
align-items: center;
gap: 80px;

}

.last-img{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    
}
.imgplustext , .secondimgplustext{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid pink;
}

    .last-txt{
        display: flex;
        flex-direction: column;

    }
